.MuiBox-root .MuiListItemButton-root li {
    width: 100%;
}
.MuiBox-root .MuiListItemButton-root {
    padding: 0;
}
.MuiListItemText-root .MuiListItemText-primary{
    font-size: 14px;
    font-weight: 600;
}